name: Create Docker Image

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '03 5 * * *'

jobs:
  build_and_push_docker_image:
    name: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        branch: [main, humble] 
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ matrix.branch }}

  delete-untagged-images:
    name: Delete Untagged Images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: actions/delete-package-versions@v5
        with:
          owner: 'cihataltiparmak'
          package-name: 'frenet_ilqr_controller'
          package-type: 'container'
          min-versions-to-keep: 5
          delete-only-untagged-versions: 'true'
          token: ${{ secrets.GITHUB_TOKEN }}

